---
import Layout from "../../layouts/Layout.astro";
import { getLaunchById } from "../../services/space-x";

const { id } = Astro.params;

let launch = await getLaunchById({ id });
---

<Layout title={`Launch #${launch?.flight_number}`}>
  <article class="flex gap-y-8 flex-col items-center">
    <img
      class="w-52 h-auto"
      src={launch?.links.patch.small}
      alt={launch?.name}
    />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
